<div class="about-wrapper">
    <h3>O aplikaci</h3>
    <p>
        Tato jednoduchá webová aplikace umožňuje uživatelům spravovat informace o osobách 
        a jejich pojištění.
    </p>
    <p> 
        Aplikace je vytvořena pomocí Node.js, Express, MongoDB, Express Session pro session management, 
        Joi pro ověřování dat, Bcrypt pro hashování hesel a šablon EJS.
    </p>
    <p>
        Ke spuštění této aplikace jsou potřebné zmíněné npm knihovny.
    </p>
</div>
