<div class="login">
    <h3>Pro zobrazení dat se přihlaste.</h3>
    <form class="login-form" action="">
        <input type="text" id="email" placeholder="email" required>
        <input type="password" id="password" placeholder="heslo" required>
        <button class="btn-submit btns btn-login">Přihlásit se</button>
    </form>
    <p>Pokud ještě nejste uživatelem, registrujte se 
        <span><button class="btns btn-submit-sm btn-register-form">ZDE</button></span>
    </p>
</div>