<h2>Nový pojištěnec</h2>
            <form class="add-new-name action="">
                <div class="inputs">
                    <label for="firstName">Jméno</label>
                    <input type="text" id="firstName" name="firstName">
                </div>
                <div class="inputs">
                    <label for="lastName">Příjmení</label>
                    <input type="text" id="lastName" name="lastName">
                </div>
                <div class="inputs form-row">
                    <label for="birthDate">Datum narození</label>
                    <input type="date" id="birthDate" name="birthDate">
                </div>
                <div class="inputs">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email">
                </div>
                <div class="inputs">
                    <label for="mobile">Telefon</label>
                    <input type="text" id="mobile" name="mobile" placeholder="+420">
                </div>
                <div class="inputs">
                    <label for="street">Ulice</label>
                    <input type="text" id="street" name="street">
                </div>
                <div class="inputs">
                    <label for="streetNum">Č.p.</label>
                    <input type="text" id="streetNum" name="streetNum">
                </div>
                <div class="inputs">
                    <label for="zipcode">PSČ</label>
                    <input type="text" id="zipcode" name="zipcode">
                </div>
                <div class="inputs">
                    <label for="city">Město</label>
                    <input type="text" id="city" name="city">
                </div>
                <button class="btns btn-submit btn-person-new">Uložit</button>
            </form>